.friends {
  margin: 0 auto;
  display: flex;
}

.friend {
  border-radius: 50%;
  width: 300px;
  margin: 50px;
}

.user {
  width: 100%;
  height: auto;

  //where I style the big photo 
}

// where I will style the stuff for the friends photos //
