.mainHeader {
  width:100vw ;
  border: 15px solid forestgreen;
  background-color: forestgreen;
  padding: 30px;
  margin: 20px;
  width: 350px;
  position: absolute;
}
.site-title {
  color: white;
  font-family: Impact;
  font-size: 60px;
  text-align: center;
}
