<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <header class="mainHeader">
    <h1 class="site-title">Friendface</h1>
  </header>