<%- include('../partials/header', {}) %>

<form method="get" action="/getname" class="signin-form">
  <label for="firstName"></label>
  <input type="text" name="firstName" placeholder="Your First Name!" />
  <button type="submit">Submit</button>
</form>

<%- include('../partials/footer', {}) %>